

<!--底部-->


<nav class="copyright navbar-fixed-bottom  navbar-inverse " role="navigation"
	style=" font-size: 13px; text-align: center; padding-top: 28px; padding-bottom: 28px; border-top: 1px solid #303030;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12" style="align: center; color: #ffffff;">
				<span style="align: center;">Copyright &copy;孙伟</span> | <span
					style="align: center;">小伟php技术社区</span> | <span
					style="align: center;">孙伟</span>
			</div>
		</div>
	</div>
</nav>

<!--end底部-->
</body>
<script type="text/javascript" src="{$static_url}/js/m.js" charset="gbk"></script>
</html>


