<!DOCTYPE html>
<html>
<head>
<title>小伟_______demo</title>
<meta http-equiv="Access-Control-Allow-Origin"
	content="http://localhost:4000">
<meta name="description" content="小伟_______demo" />
<meta name="keywords" content="小伟_______demo" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="Shortcut icon" href="{$static_url}/icon/favicon.ico" />

<link href="{$static_url}/css/my.css" rel="stylesheet" media="screen">



<!--  免费cdn bootstrap -->
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<script>
	var n = 0;
</script>
<script type="text/javascript" src="{$static_url}/js/m.js" charset="gbk"></script>

<!-- IE8下 ，[firefox- 40.0.3]好坑的一个BUG 醉了。 已阻止跨源请求：同源策略禁止读取位于 http://localhost:4000/Public/default/fonts/glyphicons-halflings-regular.woff 的远程资源。（原因：CORS 头缺少 'Access-Control-Allow-Origin'）。 -->
<style type="text/css">


</style>
<script>
//孙伟的百度统计
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?225f26ee04551bdeabc59c1d300e53c7";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body data-spy="scroll" data-target=".navbar-example" style="">

	<!--nav-->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-logo" href="javascript:void(0)"><img
					src="{$static_url}/img/logo.png" height="100%" alt="ssssssssssss"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">

				<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:void(0);"><i
							class="fa glyphicon glyphicon-transfer"></i> &nbsp;在线代码</a></li>


					<if condition="$Think.session.user_info eq true">
					<li>
						<div class="menu">
							<ul style="padding-left: 0px">
								<li><a href="javascript:void(0)"
									style="padding-top: 4px; padding-bottom: 6px; line-height: 40px;">
										<img src="http://www.jq22.com/tx/22.png" class="dltx" />
								</a>
									<ul>
										<li><a href="/userHome" style="height: 50px">&nbsp; </a></li>
										<li class="tpa"><a href="#" onclick="myout()">退出登录</a></li>
									</ul>
							</ul>
						</div>
					</li>
					<else />
					<li><a href="#" data-toggle="modal" data-target="#myModal">
							<i class="fa fa-user"></i> &nbsp;注册/登录<span class="sr-only">(current)</span>
					</a></li>
					</if>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<!--end nav-->



	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="">
			<div class="modal-content2 tcc" style="height:400px;">
				<div class="modal-header2 top20">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel"></h4>
				</div>
				<div class="modal-body tcck">

					<div class="input-group input-group-lg">
						<span class="input-group-addon" id="email"><i
							class="fa fa-envelope-o"></i></span> <input type="text"
							class="form-control" placeholder="请输入登录邮箱"
							aria-describedby="email" id="ema">
					</div>
					<div class="input-group input-group-lg top20">
						<span class="input-group-addon" id="pwd"><i
							class="fa fa-unlock-alt" style="width: 18px"></i></span> <input
							type="password" class="form-control" placeholder="请输入登录密码"
							aria-describedby="pwd" id="pw"> <span
							class="input-group-btn tccBut">
							<button class="btn btn-success" type="button" onclick="login()">登
								录</button>
						</span>
					</div>

				</div>

				<div class="modal-footer2">
					<div class="f">
						<a href="/account/forgetps">忘记密码?</a>
					</div>
					<div class="r">
						<a href="/account/register">注册新用户</a>
					</div>
					<div class="dr"></div>
				</div>

			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>